body{
   /* Set line spacing */
   line-height: 1.5;
}


header, nav{
    /* Set padding and margin */
    margin: 2%;
    padding: 0 1%;

}
nav ul li{
    /* Set display, margin, padding, font-size, background-color */
    display: inline-block;
    margin: 1%;
    padding: 0 1%;
    font-size: medium;
    background-color: gainsboro;
}

nav a{
    /* Set text decoration*/
    text-decoration: none;
    color: black;
}

a:visited{
    /* Set color */
    color: black;
}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
    text-decoration: underline wavy;
    text-transform: uppercase;
    color: blue;
}

h1{
   /*Set font and font size*/
   font-size: x-large;
}

h2{
    /*Set font, font size, and alignment*/
   font-size: larger;
   text-align:left;
}

h3{
    /*Set font size*/
    font-size: large;
}

h1, h2, h3{
    /*Set margin */
    font-family: 'Times New Roman', Times, serif;
    margin: 15px;
}

.grid{
    /*Set width, margin, border properties, background color, and grid properties */
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    /* border: 2px solid black;
    border-radius: 10px; */
}

.grid div{
    /* Set border properties, padding, and background color */
    border: 2px solid black;
    border-radius: 10px;
    padding: 2%;
}

.grid img{
    /* Set width, margin, and display */
    display: block;
    width: 90%;
    margin: auto;
}


.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    }

.grid div:nth-child(3n)  {
    /* Set box shadow */ 
}

.grid div:nth-child(3n+2)  {
     /* Set box shadow */
}
    

p + p {
     /* Set indentation */
  }
  
p{
     /* Set margin */
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
}
